
body{
    font-family: 'Epilogue', sans-serif;
    height: 100vh;
   
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -1rem;
}
.nav{
    display: flex;
    align-items: center;
}
.logo{
    padding-left: 1rem;
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
   
}
ul li{
    margin-left: 2rem;
}
ul a{
    text-decoration: none;
    color:  hsl(0, 0%, 41%);
    font-size: 0.8rem;
    opacity: 0.7;
    padding: 7px 14px;
}
.log-register{
    padding-right: 4rem;
  
}
.log-register button{
    height: 40px;
    width: 90px;
    background-color: transparent;
    border: none;
    color:  hsl(0, 0%, 41%);
    cursor: pointer;
    opacity: 0.7;
}
.log-register .active{
    border: 2px solid lightgreen;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
   
}
ul li a:hover{
    background-color: #444;
    color: #fff;
    transition: 1s;
}
.container{
    display: grid;
    /* grid-auto-rows: minmax(300px,auto); */
    grid-template-areas: 
    "text image"
    ;
}
.text-content{
grid-area: text;
/* width: 400px; */
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
/* padding-left: 6rem; */
}
.image-content{
grid-area: image;
display: flex;
align-items: center;
justify-content: center;

}
.image{
    width: 350px;
}
.text-content h1{
    font-size: 4.2rem;
    text-shadow: 2px 2px 2px hsl(0, 0%, 41%);
    margin-left: 3rem;
}
.btn-learnmore{
    height: 40px;
    width: 120px;
    margin-top:1.5rem;
    margin-bottom:4rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.text-content p{
    font-size: 16px;
    color: hsl(0, 0%, 41%);
    margin-top: -1rem;
}
.logos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.logos img{
     margin-left: 2rem;
    width: 70px;
    object-fit: cover;
  }
  @media(max-width:750px){

    .container{
        grid-template-areas: 
        " image "
        "text"
    }
    .text-content h1{
        font-size: 4rem;
    }
    .image{
        width: 300px;
        margin-bottom: 1rem;
    }
    .text-content p{
        font-size: 14px;
        margin-right: 1.8rem;


    }
    .logos img{
        margin-left: 2rem;
       width: 60px;
       object-fit: cover;
     }
  }
  
  @media(max-width:402px){
    .text-content h1{
        font-size: 3rem;
        margin-right: 2rem;
    }
    .image{
        width: 250px;
    }
    .text-content p{
        font-size: 13px;

    }
    .logos img{
        margin-left: 2rem;
       width: 50px;
       object-fit: cover;
     }
}